.welcome {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background: #eff3ff;
  padding: 1.5rem;
}

.welcome .close {
  display: flex;
  justify-content: flex-end;
}

.welcome .close button {
  width: 2rem;
  border: none;
  cursor: pointer;
}
.welcome .content {
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome .content div {
  text-align: center;
}

.welcome .content div h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin: 2rem;
  font-weight: bolder;
}

.welcome img {
  width: 90%;
}
