form {
  padding: 2em 2rem 3rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .form-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.header-form {
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2rem;
}
.header-form .logo {
  text-align: end;
}
.header-form .logo img {
  width: 40px;
  transform: scaleX(-1) rotate(50deg) rotateX(30deg);
}
.header-form .title {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

.header-form .subtitle {
  margin-top: 4px;
}

.header-form .subtitle span {
  color: var(--primary-color);
  font-weight: bold;
}

.inputsSection {
  margin-top: 2rem;
}

.checkbox-container {
  height: 3rem;
}
.checkbox-container div {
  display: flex;
  align-items: center;
}

.checkbox-container div .label-agree {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

input[type="checkbox"] {
  width: 14px !important;
  height: 14px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: transparent;
  border-radius: 2px;
}

input[type="checkbox"]:checked:after {
  content: "✔";
  font-weight: bolder;
  color: var(--primary-color);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.form-buttons button:nth-child(1) {
  width: 65%;
  background: var(--primary-color);
}

.form-buttons button:nth-child(1):hover {
  background: #1f0098;
}

.form-buttons button:nth-child(2) {
  width: 30%;
  background: rgb(240, 107, 107);
}

.form-buttons button:nth-child(2):hover {
  background: #cf0505;
}

.form-buttons button:nth-child(1):disabled,
.form-buttons button:nth-child(1)[disabled] {
  border: 1px solid #999999;
  background-color: #eee;
  color: #666666;
}
