.container {
  display: flex;
  flex-direction: column;
  height: 6rem;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.requiredStar {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 10px;
}

.inputField {
  padding: 13px 20px;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  transition: linear 0.2s;
}

.inputField:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
.inputField::-webkit-input-placeholder {
  color: #969696;
  font-weight: 300;
  font-size: 14px;
}
