.container {
  height: 3rem;
  margin-bottom: 10px;
}
.inputField {
  width: 100%;
  padding: 2px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-text-color);
  color: white;
  font-size: 16px;
}

.inputField::placeholder {
  color: var(--primary-text-color);
  opacity: 0.4; /* Firefox */
  text-transform: capitalize;
}
