.button {
  background-color: var(--primary-text-color);
  padding: 0.7rem;
  text-align: center;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 1rem;
  cursor: pointer;
}
